* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}
.error {
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(67, 2, 2), rgb(0, 0, 0));
}

.sky {
  position: relative;
  widows: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sky h2 {
  font-size: 16em;
  color: #fff;
  text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.1);
}

.sky h2 span {
  display: inline-block;
  animation: animate 2s ease-in-out infinite;
}
.sky h2 span:nth-child(even) {
  animation-delay: 1s;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
}
.field {
  padding: 100px;
  height: 40vh;
  background-position: #6e2308;
  box-shadow: insert 0 20px 10px #51680c;
  text-align: center;
}

.field h2 {
  color: rgb(179, 0, 0);
  font-size: 2em;
  margin-bottom: 20px;
}
.field a {
  background: black;
  color: rgb(179, 0, 0);
  width: 160px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}

.bird {
  position: absolute;
  bottom: 200px;
  left: 0px;
  max-width: 300px;
  animation: birdGo;
  animation-duration: 3s;
}

@keyframes birdGo {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0.5;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 0.3;
  }

  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.5;
  }
}

/* .grass {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: url(../src/img/grass.png);
  background-position: bottom;
  animation: animateGrass 0.2s linear infinite;
} */
