
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .feed-cont {
    display: flex;
    flex-direction: column;
  }
  
  .feedCard {
    background-color: #aeabab;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .post-content {
    font-size: 1rem;
    color: #555;
  }
  
  .post-info {
    font-size: 12px;
    color: rgb(255, 251, 251);
    margin-top: 8px;
  }
  
  .post-username {
    font-weight:bolder;
  }

  textarea {
    overflow-y: hidden;
    max-height: 100px;
  }

  .bitter-post {
    resize: none;
  }